<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Only used to reach a user-configured meshing server; the viewer itself is offline. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="Rhino Viewer"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- file:// URIs ending in .3dm (file managers, browsers). Android matches
                 pathPattern greedily, so dotted names need the extra variants.
                 Limitation: only apps targeting API < 24 can still send file:// URIs,
                 and reading one from shared storage needs READ_EXTERNAL_STORAGE, which
                 this app neither declares nor requests; such an open ends in the
                 "Could not read the file" toast. A type-less variant of this filter
                 would only add more chooser entries that fail the same way. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"
                      android:host="*"
                      android:mimeType="*/*"
                      android:pathPattern=".*\\.3dm"/>
                <data android:pathPattern=".*\\..*\\.3dm"/>
                <data android:pathPattern=".*\\..*\\..*\\.3dm"/>
            </intent-filter>
            <!-- content:// from Files, Drive, mail clients: .3dm has no registered MIME
                 type, so providers usually report application/octet-stream. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content" android:mimeType="application/octet-stream"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content" android:mimeType="application/x-rhino"/>
                <data android:mimeType="model/3dm"/>
                <data android:mimeType="application/3dm"/>
            </intent-filter>
            <!-- "Share to" from WhatsApp, Drive, etc. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Never add io.flutter.embedding.android.EnableHcpp here. It sets the engine's
             "enable hcpp and surface control" flag (FlutterEngineFlags.java:222-223), turning
             on Hybrid Composition++, which is mutually exclusive with the hybrid composition
             this viewer's WebView depends on: PlatformViewsChannel silently reroutes a hybrid
             create request to the HCPP controller, and createForPlatformViewLayer throws
             outright. It is off by default (settings.h:239, enable_surface_control = false) and
             there is no other way to switch it on, so adding it would break every WebView in
             the app with no visible error. -->
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
